<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="views/header.css" rel="stylesheet" type="text/css">
<style>
section {
	border: 3px solid;
	border-color: var(--main-border-color); 
}
section.scorecard {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0;
	border: none;
}
section.editScorecard {
	display: none;
	margin: 0 auto;
	width: 80%;
	height: 22%;
	position: absolute;
	margin-left: 10%;
	top: 20%;
	background: var(--main-background-color);
	z-index: 99999;
}
section.footer {
	margin-top: 20px;
	border: none;
}
div {
	display: inline-block;
	width: 3.4%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 4;
	color: var(--par-text-color);
}
div.expectedPar {
	color: var(--expected-par-text-color);
}
div.expectedPar.Out, div.expectedPar.In, div.expectedPar.Total,
div.in, div.out, div.total {
	color: var(--scorecard-header-color);
}
div.eagle {
	background-color: var(--eagle-color);
	color: var(--eagle-text-color);
	border-radius: 50%;
}
div.birdie {
	color: var(--birdie-text-color);
	border: 1px solid;
	border-radius: 50%;
	border-color: var(--birdie-color);
}
div.bogey {
	border: 1px solid;
	border-color: var(--bogey-color);
	color: var(--bogey-text-color);
}
div.double {
	background-color: var(--double-color);
	color: var(--double-text-color);
	position: relative;
}
div.course {
	width: 100%;
	text-align: left;
	padding-left: 10;
	color: var(--main-text-color);
}
div.date {
	width: 100px;
	color: var(--main-text-color);
}
input {
	display: inline-block;
	width: 3.4%;
	text-align: center;
}
input.date {
	width: 10.3%;
}
.editScorecardButton {
	float: right;
	margin: 0 auto;
	margin-right: 10px;
}
table {
	width: 60%;
	margin: 0 auto;
}
tr,td {
	text-align: center;
}
</style>

		<h1>Golf Score Card App</h1>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="../editScorecard.js"></script>

		<div class="headers">
			<a href="/" class="current"> Home </a>
			<a href="/addCourse"> Add Course  </a>
			<a href="/addScorecard"> Add Scorecard  </a>
			<a href="/myStats"> My Stats </a>
		</div>
		
			<% scorecards.forEach(function(fullGame, index) { %>
			<section class="editScorecard" id="scorecard-<%= index %>">
				<section class="scorecard">
					<div class="course"> 
						<a class="course" href="/myStats?course=<%= fullGame.course %>">
						 <%= fullGame.course %>
						</a>
					</div>
				</section>

				<section class="scorecard">
					<div class="date"> Par </div>

					<% fullGame.pars.forEach(function(shotsPerHole, scoreIndex) { %>
						<div class="expectedPar <%= shotsPerHole %>"> <%= shotsPerHole %> </div>
					<% }); %>

					</section>

				<section class="scorecard">
					<input type="hidden" name="id"  id="id" class="id" value="<%= fullGame.id %>">
					<input type="text" name="date"  id="date" class="date" value="<%= fullGame.date %>">

					<% fullGame.scores.forEach(function(shotsPerHole, scoreIndex) { %>
						<% if(scoreIndex < 19 && scoreIndex != 9) { %>
						<input type="text" name="hole<%= scoreIndex + 1 %>" id="hole<%= scoreIndex + 1 %>" value="<%= shotsPerHole %>">
						<% } else { %>
						<div class="<%= fullGame.cssClasses[scoreIndex]%>"> <%= shotsPerHole %> </div>
					<% } }); %>

				</section>

				<section class="scorecard">
					<button class="btn-primary editScorecardButton" onclick="save('<%= index %>', '<%= scorecards.length %>')">Save</button>
					<button class="btn-primary editScorecardButton" onclick="cancel('<%= index %>')">Cancel</button>
				</section>
			</section>
			
			<section onclick="editScorecard('<%= index %>', '<%= scorecards.length %>')">	
				<section class="scorecard">
					<div class="course"> 
						<a class="course" href="/myStats?course=<%= fullGame.course %>">
						 <%= fullGame.course %>
						</a>
					</div>
				</section>

				<section class="scorecard">
					<div class="date"> Par </div>

					<% fullGame.pars.forEach(function(shotsPerHole, scoreIndex) { %>
						<div class="expectedPar <%= shotsPerHole %>"> <%= shotsPerHole %> </div>
					<% }); %>

					</section>

				<section class="scorecard">
					<div class="date"> <%= fullGame.date %> </div>

					<% fullGame.scores.forEach(function(shotsPerHole, scoreIndex) { %>
					<div class="<%= fullGame.cssClasses[scoreIndex]%>"> <%= shotsPerHole %> </div>
					<% }); %>

				</section>
			</section>
			<% }); %>

		<section class="footer">
		</section>
	</body>
</html>