<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="views/header.css" rel="stylesheet" type="text/css">
	<link href="views/index.css" rel="stylesheet" type="text/css">
	
<h1>Golf Score Card App</h1>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="../addScorecard.js"></script>
	<script src="../editScorecard.js"></script>

	<div class="headers">
		<a href="/" class="current"> Home </a>
		<a href="/myStats"> My Stats </a>
	</div>
	
	<% scorecards.forEach(function(fullGame, index) { %>
		<section class="editScorecard" id="scorecard-<%= index %>">
			<section class="scorecard">
				<div class="course"> 
					<a class="course" href="/myStats?course=<%= fullGame.course %>">
						<%= fullGame.course %>
					</a>
				</div>
			</section>

			<section class="scorecard">
				<div class="date"> Par </div>

				<% fullGame.pars.forEach(function(shotsPerHole, scoreIndex) { %>
					<div class="expectedPar <%= shotsPerHole %>"> <%= shotsPerHole %> </div>
				<% }); %>

				</section>

			<section class="scorecard">
				<input type="hidden" name="id"  id="id" class="id" value="<%= fullGame.id %>">
				<input type="text" name="date"  id="date" class="date" value="<%= fullGame.date %>">

				<% fullGame.scores.forEach(function(shotsPerHole, scoreIndex) { %>
					<% if(scoreIndex < 19 && scoreIndex != 9) { %>
					<input type="text" name="hole<%= scoreIndex + 1 %>" id="hole<%= scoreIndex + 1 %>" value="<%= shotsPerHole %>">
					<% } else { %>
					<div class="<%= fullGame.cssClasses[scoreIndex]%>"> <%= shotsPerHole %> </div>
				<% } }); %>

			</section>

			<section class="scorecard">
				<button class="btn-primary editScorecardButton" onclick="save('<%= index %>', '<%= scorecards.length %>')">Save</button>
				<button class="btn-primary editScorecardButton" onclick="cancel('<%= index %>')">Cancel</button>
			</section>
		</section>
		
		<section onclick="editScorecard('<%= index %>', '<%= scorecards.length %>')">	
			<section class="scorecard">
				<div class="course"> 
					<a class="course" href="/myStats?course=<%= fullGame.course %>">
						<%= fullGame.course %>
					</a>
				</div>
			</section>

			<section class="scorecard">
				<div class="date"> Par </div>

				<% fullGame.pars.forEach(function(shotsPerHole, scoreIndex) { %>
					<div class="expectedPar <%= shotsPerHole %>"> <%= shotsPerHole %> </div>
				<% }); %>

				</section>

			<section class="scorecard">
				<div class="date"> <%= fullGame.date %> </div>

				<% fullGame.scores.forEach(function(shotsPerHole, scoreIndex) { %>
				<div class="<%= fullGame.cssClasses[scoreIndex]%>"> <%= shotsPerHole %> </div>
				<% }); %>

			</section>
		</section>
	<% }); %>

	<section id="addScorecard" class="addScorecard" >
		<div class="tabs">
			<button class="btn-primary tabs" onclick="openTab('insertCourse')">Add Course</button>
			<button class="btn-primary tabs" onclick="openTab('insertScorecard')">Add Scorecard</button>
		</div>

		<div class="addCourse" id="insertCourse">
			<section class="insideAddScorecard">
				<input type="text" class="course" name="course" id="course" placeholder="Course Name">
			</section>
			
			<section class="insideAddScorecard">
				<input type="text" class="rating" name="rating" id="rating" placeholder="Course Rating">
				<input type="text" class="slope" name="slope" id="slope" placeholder="Slope Rating">
			</section>

			<section class="insideAddScorecard">
				<span class="parAndScore"> Par </span>
				<% for(var i = 1; i <= 18; i++) { %>
					<input type="text" class="par" name="par<%= i %>" id="par<%= i %>" placeholder="<%= i %>">
				<% } %>
			</section>

			<div class="tabs">
				<button class="btn-primary exit" onclick="addCourseSave()">Add</button>
				<button class="btn-primary exit" onclick="addScorecardCancel()">Cancel</button>
			</div>
		</div>

		<div class="addScorecard" id="insertScorecard">
			<section class="insideAddScorecard">
				<select name="course" id="addScorecardCourse" class="addScorecardCourse">
					<option value="" selected disabled hidden>Select Course</option>
					<% courses.forEach((course) => { %>
						<option value="<%= course %>"> <%= course %> </option>
					<% }); %>
				</select>
	
				<input type="text" name="date" id="addScorecardDate" class="addScorecardDate" placeholder="Date (YYYY-MM-DD)">
			</section>
			
			<section class="insideAddScorecard">
				<section class="pars">
					<span class="parAndScore"> Par </span>

					<% for(var i = 1; i <= 9; i++) { %>
						<span class="hole" id="par<%= i %>"></span>
					<% } %>

					<span class="hole" id="parOut"> Out </span>
					
					<% for(var i = 10; i <= 18; i++) { %>
						<span class="hole" id="par<%= i %>"></span>
					<% } %>

					<span class="hole" id="parIn"> In </span>
					<span class="hole" id="parTotal"> Total </span>
				</section>
	
				<section class="addScores">
					<span class="parAndScore"> Score </span>

					<% for(var i = 1; i <= 9; i++) { %>
						<input type="text" name="addHole<%= i %>" id="addHole<%= i %>" class="addHole" placeholder="<%= i %>">
					<% } %>

					<span class="addHole" id="scoreOut"> </span>
					
					<% for(var i = 10; i <= 18; i++) { %>
						<input type="text" name="addHole<%= i %>" id="addHole<%= i %>" class="addHole" placeholder="<%= i %>">
					<% } %>

					<span class="addHole" id="scoreIn"> </span>
					<span class="addHole" id="scoreTotal"> </span>
				</section>

				<section class="addScores">
					<span class="parAndScore"> Putts </span>

					<% for(var i = 1; i <= 9; i++) { %>
						<input type="text" name="addPutts<%= i %>" id="addPutts<%= i %>" class="addPutts" placeholder="<%= i %>">
					<% } %>

					<span class="addPutts" id="puttsOut"> </span>
					
					<% for(var i = 10; i <= 18; i++) { %>
						<input type="text" name="addPutts<%= i %>" id="addPutts<%= i %>" class="addPutts" placeholder="<%= i %>">
					<% } %>

					<span class="addPutts" id="puttsIn"> </span>
					<span class="addPutts" id="puttsTotal"> </span>
				</section>

				<section class="addScores">
					<span class="parAndScore"> G.I.R. </span>

					<% for(var i = 1; i <= 9; i++) { %>
						<input type="checkbox" name="gir<%= i %>" id="gir<%= i %>" class="gir" placeholder="<%= i %>">
					<% } %>

					<span class="gir" id="girOut"> </span>
					
					<% for(var i = 10; i <= 18; i++) { %>
						<input type="checkbox" name="gir<%= i %>" id="gir<%= i %>" class="gir" placeholder="<%= i %>">
					<% } %>

					<span class="gir" id="girIn"> </span>
					<span class="gir" id="girTotal"> </span>
				</section>
			</section>
			
			<section class="insideAddScorecard">
			</section>

			<div class="tabs">
				<button class="btn-primary exit" onclick="addScorecardSave()">Add</button>
				<button class="btn-primary exit" onclick="addScorecardCancel()">Cancel</button>
			</div>
		</div>
	</section>

	<div class="addButton" onclick="addScorecard()">
		<div class="plusVertical"></div>
		<div class="plusHorizontal"></div>
	</div>

	<section class="footer"></section>
</body>
</html>